.bg{
    background: linear-gradient(0deg, #000000 18%, #ffffff 100%) !important;
    flex: 1;
    z-index: -20;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.dark1{
    background-color: #27292A;
    margin: #27292A;
}

.dark2{
    background-color: RGB(100,100,100);
}

.card{
    --bs-card-bg: none !important;
}